.navigation {
    margin-left: 65px;
    margin-right: 65px;
    background-color: #683091;


}



.bangladesh-text {


    font-size: .9em;
    color: white;
}


.first-navigation {


    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 150px;

}

.first-button {

    border: 1px solid #34740e;
    border-radius: 3px;
    width: 60px;
    background-color: #4ba614;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px 10px;
}

.search-button {

    border: 1px solid #34740e;
    border-radius: 3px;
    width: 60px;
    background-color: #4ba614;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px 10px;



}

.english-button {
    border: 1px solid #34740e;
    border-radius: 3px;
    width: 60px;
    background-color: azure;
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 2px 10px;
}

.hr {

    margin-left: 65px;
    margin-right: 65px;
    border: 1px solid green;
    padding: 2px;
    background-color: rgb(8, 70, 8);
}

.slider {



    width: 88%;
    margin-left: 68px;



}


.flex-nav {


    display: flex;

    margin-left: 62px;
    margin-right: 65px;






}

.navigation-two {

    border: 1px dotted black;
    border-right: 100px;
    border-left: 100px;
    border-top: 100px;


}

.navigation-two:hover {

    background-color: red;
}

.grid-ststem {

    margin-top: 15px;
}

.prime-minister {


    margin-left: 65px;
    margin-right: 65px;
}

.dipumoni {


    text-align: center;
}


.Honorable-Minister {

    background-color: #609513 !important;

    width: 200px;
    padding: 5px;
    margin-left: 75px;
    color: white;
    font-weight: bold;
}

.more {


    background-color: #3e0a9e !important;

    width: 400px;
    padding: 5px;
    margin-left: 160px;
    color: white;
    font-weight: bold;
}

.details {
    font-size: 12px;
    margin-left: 80px;
}

.news {

    background-color: rgb(206, 195, 195);
    margin-left: 67px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: justify;

}




.notice-background {

    background-color: #ebebeb;
    margin-left: 66px;
}

.notice-img {


    margin-left: -24px;
}

.heading-notice {

    padding: 20px;

    margin-left: -150px;

}

.notice-board {

    margin-left: -125px;
    text-align: justify;
}

.all {
    border-radius: 5px;
    padding: 10;
    float: right;
    background-color: #A6A6A6;
}

.first-set {

    margin-left: 70px;
}

.second-set {


    margin-left: 70px;
}



.background-color {

    background-color: #ebebeb;
    border: 1px solid #a73c3c;



}

.gallery {

    background-color: #609513 !important;

    color: white;
    padding: 5px;




}


.web-mail {
    margin-left: 65px;
}

.button-sokol {

    background-color: #a2a2a2;
    width: 200px;
    padding: 2px;
    margin-left: 75px;
}


.Golden {

    background-color: #609513 !important;

    width: 200px;
    padding: 2px;
    margin-left: 75px;
    color: white;
    font-weight: bold;
}



.side-bar {

    font-size: 12px;
    background-color: #a2a2a2;
    width: 200px;
    padding: 2px;
    margin-left: 75px;



}

.side-bar li a {
    color: inherit;
    color: green;

    text-decoration: none;

}

.side-bar li a:hover {

    background-color: rgb(212, 185, 185);
    padding: 5px;
}

.audio {

    margin-left: 70px;

    width: 210px;
}

.long-picture {

    width: 200px;
    margin-left: 75px;
    margin-top: 20px;
}

.corona-picture {

    width: 200px;
    margin-left: 75px;
    margin-top: 20px;
}

.corona-video {



    margin-top: 20px;

    margin-left: 75px;
}

.facebook-icon {




    margin-left: 75px;
    color: white;

    background-color: blue;
    font-size: 20px;
    padding: 5px;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: inline-block;
    text-align: center;



}

.footer-img {
    /* margin: 50px; */
    width: 91%;
    margin-top: 100px;
    margin-left: 50px;
}


/* footer Part */

.footer-nav {
    /* margin: 45px; */
    width: 89%;
    margin-left: 62px;

}

.footer-paragraph {
    font-size: 14px;
    padding: 6px;
}

.last-img {

    margin-left: 180px;
    padding: 10px;
}